.vscode/**
.vscode-test/**
src/**
.gitignore
.git/**
.DS_Store
**/.DS_Store
tsconfig.json
**/tsconfig.json
**/*.map
**/*.ts
!out/**/*.js
node_modules/**
python/.venv/**
python/**/__pycache__/**
**/*.pyc
package-lock.json
.eslintrc.json
**/.eslintrc.json
